.bg_color {
    -fx-background-color: #bcbec0;
}

.label_login {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 35;
    -fx-text-aligment: center;
}

.label_login_user_pas {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-text-aligment: center;
}

.txt_field{
    -fx-background-color:  transparent;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 10px;
}

.bttn {
    -fx-background-color:  transparent;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 10px;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    
}

th {
    -fx-background-color:  #000000;
}

.big_label{
    -fx-font-size: 30;
}

.small_label {
    -fx-font-size: 15;
}

.date_picker {
    -fx-background-color: transparent;
}

.table_view {
    -fx-background-color: transparent;
    -fx-text-aligment: center;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-text-alig: center;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-text-aligment: center;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-aligment: center;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-font-weight: bold; 
}
.table-row-cell:odd {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #f0f0f01f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-text-fill: black;
    -fx-background-color: #f0f0f0be;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}